body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: url("https://stackblitz.com/files/web-platform-ohrz2d/github/Cyber-Chic/Profile-Card-Component-Main/main/images/bg-pattern-bottom.svg"), url("https://stackblitz.com/files/web-platform-ohrz2d/github/Cyber-Chic/Profile-Card-Component-Main/main/images/bg-pattern-top.svg");
  background-color: hsl(185, 75%, 39%);
  color: hsl(218, 44%, 22%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom -15rem left 45rem, bottom 25rem right 45rem;
  background-size: 100% 100%;
  font-family: 'Kumbh Sans', sans-serif;
}
.whiteblock {
  max-width: 322px;
  height: 23rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
  background-repeat: no-repeat;
  background-color: white;
  margin: auto;
} 
.firstparagraph {
  font-size: 14px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  line-height: 1.7;
  inline-size: 19rem;
  top: -9rem;
  position: relative;
  margin-left: 0.5rem;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-size: 18px;
  top: -6rem;
  position: relative;
  margin-bottom: 1rem;
}
.age26 {
  color: gray;
  position: relative;
  top: -8.5rem;
  margin-left: 10rem;
  font-size: 18px;
}
.card-top {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 8.5rem;
  margin-bottom: 2rem;
}
.victor {
  border-radius: 100px;
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 0rem;
  top: -6rem;
  margin-bottom: 0;
  position: relative;
}
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
hr  
{  
width: 100%;  
height: 1px;
background-color: #ccc;
border: none;
position: relative;
top: -19rem;
} 
.black-80k {
  color: black;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  top: -6.7rem;
  margin-right: 10rem;
  position: relative;
}
.followers{
  color: gray;
  position: relative;
  top: -7.3rem;
  margin-right: 10rem;
  font-size: 11px;
}
.black-803k {
  color: black;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  top: -10.7rem;
  margin-left: 1rem;
  position: relative;
}
.likes{
  color: gray;
  position: relative;
  top: -11.3rem;
  margin-left: 1rem;
  font-size: 11px;
}
.black-1-4k {
  color: black;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  top: -14.7rem;
  margin-left: 12rem;
  position: relative;
}
.photos {
  color: gray;
  position: relative;
  top: -15.2rem;
  margin-left: 12rem;
  font-size: 11px;
}
.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}